#cont {
    min-height: 430px;
    overflow: hidden;
    background: whitesmoke;

    .header {
        height: 60px;
        padding: 0 100px;
        width: 1226px;
        border-bottom: 1px solid gray;

        .fir {
            font: 20px / 60px '';
            margin-right: 700px;
        }

        em {
            margin: 0 20px;
            font-size: 14px;
        }
    }

    .details {
        padding: 40px 100px 0 100px;
        width: 1146px;
        height: 700px;


        .left {
            // border: 1px solid red;
            float: left;
            margin-right: 50px;
            margin-top: 50px;
            margin-left: 50px;
            width: 400px;
            height: 640px;

            .imgdel {
                width: 400px;
                height: 400px;
                border: 1px solid rgb(207, 205, 205);
            }

            .more-pho {
                .mo-li {
                    float: left;
                    border: 1px solid rgb(214, 211, 211);
                    margin: 40px 10px 10px;
                    background: rgb(231, 230, 230);
                }
            }
        }

        .right {
            float: left;
            // border: 1px solid green;
            width: 500px;
            padding-bottom: 20px;

            .title {
                border-bottom: 1px solid gray;
                margin-bottom: 10px;

                .model {
                    font-size: 30px;
                    font-weight: 600;
                    margin-bottom: 30px;
                }

                .price {
                    font-size: 20px;
                    padding-bottom: 10px;
                }
            }

            .li {
                list-style-type: disc;
                font-size: 12px;
                color: red;
                padding: 10px 0;
            }

            p {
                padding: 10px 0;

                a {
                    font-size: 12px;
                    color: rgb(83, 83, 212);
                }
            }

            .chenck-model {
                border-top: 1px solid gray;
                height: 170px;

                p {
                    font-size: 14px
                }

                .list-mol {
                    .bp-cm-button {
                        float: left;
                        margin: 10px;
                        font-size: 12px;
                        border: 1px solid gray;
                        padding: 10px 20px;
                    }
                }

                border-bottom: 1px solid gray;

            }

            .buy-num {
                height: 50px;
                line-height: 50px;
                border-bottom: 1px solid gray;

                em {
                    font-size: 12px;
                    margin-right: 20px;
                }

                #num {
                    text-align: center;
                    width: 20px;
                    background: white;

                }

                .changeN {
                    background: rgb(187, 186, 186);
                    width: 20px;
                    height: 20px;
                }
            }

            .buy-now {
                height: 50px;
                margin-top: 30px;
                font-size: 14px;
                border-bottom: 1px solid gray;

                span {
                    width: 100px;
                    height: 50px;
                    padding: 10px 20px;
                }

                .buy {
                    margin: 0 20px;
                    background: rgb(171, 221, 223);
                    color: red;
                }

                .add {
                    background: rgb(223, 80, 80);
                    font-weight: 800;
                    color: white;
                }
            }

            .zhifu {
                p {
                    margin-top: 10px;
                    height: 20px;
                    background: url(./../img/zhifu.png) no-repeat;
                    border-bottom: 1px solid gray;
                }
            }
        }
    }

    #morePro {
        // border: 1px solid red;
        width: 1200px;
        height: 1500px;
        margin: 0 auto;
        // background: olive;
        margin-bottom: 50px;

        .pho {
            width: 1200px;
            height: 1500px;
        }
    }
}

// 放大镜 大图的背景颜色



// 放大镜
#cont {
    .details {
        .left {
            position: relative;

            #small {
                #mask {
                    border: 1px solid blue;
                    width: 100px;
                    height: 100px;
                    background: rgba(136, 238, 216, 0.4);
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: none;
                }
            }

            #big {
                border: 1px solid rgb(216,
                        214,
                        214);
                background: white;
                width: 500px;
                height: 500px;
                position: absolute;
                top: -100px;
                left: 430px;
                display: none;
                overflow: hidden;

                .big-img {
                    position: absolute;
                }
            }
        }
    }
}